# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/
jspm_packages/

# build / generate output
dist

# IntelliJ
out/
.idea/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Ignore artifacts:
build

public/index.html